
/*general*/

html {
  max-width: 100%;
}

.center {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* header */

header {
  border: 2px solid black;
  background-color: #FFB4B0;
  margin-left: 7.5%;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-right: 7.5%;
  padding: 25px;
  flex-grow: 100%;
  height: 20px;
  position: fixed;
  width: 390px;
}

header div {
  display:inline;
  padding: 0px 15px;
}

/*flex-container*/

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: nowrap;
  height: 1000px;
  margin-top: 0px;

}

/*Search div */
#search {
  background-color: #4DD7FA;
  margin-left: 7.5%;
  margin-bottom: 15px;
  margin-top: 85px;
  margin-right: 5px;
  min-width:30%;
  max-width:30%;
  border: 2px solid black;
  flex-grow: 1;
}

label {
  display: block;
  padding-top: 20px;

}
form {
  margin: 15px;
  padding: 0px 15px;
}

.button {
    border: 2px solid black;
    margin:auto;
    margin-top: 5px;
}


#song-filter label, #song-filter select {
  margin: 4px 0 7px 0;
  padding-top: 10px;
}

#song-filter select, #song-filter label, #container {
  display: block;
}

#container {
  margin: 15px 0 0 0;
  text-align: center;
}


/*Results Div*/

section div:nth-child(2n) {
  background-color: #FFF5EE;
}

section div:nth-child(2n+1) {
  background-color: #F5FFFA;
}

section div:first-child {
  font-weight: bold;
}

#results {
  background-color: #FEFAC0;
  border: 2px solid black;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 85px;
  margin-right: 7.5%;
  flex-grow: 10;
  max-width: 55%
  min-width 55%;
}

section {
  margin: 15px;
  padding: 0px 15px;
}

div h1 {
  color: #785616;
}

span {
    padding: 0px 15px;
}