
/*general*/

html {
  max-width: 100%;
}

.center {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* header */

header {
  border: 2px solid black;
  background-color: #FFB4B0;
  margin-left: 7.5%;
  margin-bottom: 5px;
  margin-top: 30px;
  margin-right: 7.5%;
  padding: 25px;
  width:80.5%;
}

header div {
  display:inline;
  padding: 0px 15px;
}

/*flex-container*/

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
}

/*Search div */
#search {
  background-color: #4DD7FA;
  margin-left: 7.5%;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  width: 20%;
  border: 2px solid black;
}

form {
  margin: 15px;
  padding: 0px 15px;
}


.button {
    border: 2px solid black;
    margin:auto;
    margin-top: 5px;
}

.left {
  float:left;
}

.right {
  float:right;
}

.row {
  clear: both;
}

/*Results Div*/
#results {
  background-color: #FEFAC0;
  border: 2px solid black;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 7.5%;
  width: 63.5%;
  display: inline-block;
}

section {
  margin: 15px;
  padding: 0px 15px;
}

div h1 {
  color: #785616;
}

span {
    padding: 0px 15px;
}