<div id="add-music-content"> 
  Title <input type="text" id="titleInput">
  Artist <input type="text" id="artistInput">
  Album <input type="text" id="albumInput">
  Genre<input type="text" id="genreInput">
  <div id="addButton-div">
    <input type="submit" id="addButton" value="Add" id="addButton">
  </div>  
</div>